html, body {
  margin: 0px;
  padding: 0px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Character Model */
.character-container {
  margin: 20px auto;
  width: 200px;
  height: 200px;
  background-color:#fff;
  display: grid;
  grid-template-columns: 100px 100px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.character {
  background-color:#333;
  padding: 20px;
  border-radius: 10px;
  color:#fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.character:hover {
  cursor: pointer;
}

.selected {
  border: solid red 1px;
  background-color:#fff;
  color: #333;
}